To
$person.firstName $person.name
$address.number $address.street
$address.town

Dear $person.firstName,

I would like to invite you to a party this Saturday, 8PM at my place.

Cheers, me

----------------------------------------------------------------
